{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Vélo d'appartement BODY B8896
{% endblock %}

{# {% block stylesheets %}
	{{ parent() }}
{% endblock %} #}

{% block body %}
	<h1>Vélo d'appartement BODY B8896</h1>

    <a href="{{ asset('assets/image/velo01.png') }}"><img src="{{ asset('assets/image/velo01.png') }}" alt="appartment-bike-profile"></a>
	<a href="{{ asset('assets/image/velo02.png') }}"><img src="{{ asset('assets/image/velo02.png') }}" alt="appartment-bike-adjustment"></a>
	<a href="{{ asset('assets/image/velo03.png') }}"><img src="{{ asset('assets/image/velo03.png') }}" alt="appartment-bike-handlebar"></a>
	<a href="{{ asset('assets/image/velo04.png') }}"><img src="{{ asset('assets/image/velo04.png') }}" alt="appartment-bike-face"></a>

	<h2>Note générale des utilisateurs</h2>
	<div>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star"></span>
		<span class="fa fa-star"></span>
	</div>

	<div class="usersReview">
		<h2>Liste des avis</h2>

		<label for="review-sort">Trier par :</label>
		<select name="review" id="review-sort">
			<option value="">-- Veuillez choisir une option --</option>
			<option value="date">Date - plus récent</option>
			<option value="rating">Note - plus haute au plus bas</option>
		</select>

        <a class ="reviewButton" href="{{ path('review') }}">
			<button type="button" class="btn btn-outline-info">Laissez votre avis sur le produit !</button>
		</a>

		{# {{ dump(reviews) }} #}
		{% for review in reviews %}
			<div class="blockReviews">
				{% if review.image is null %}
					<img class="avatars" src="{{ asset('assets/image/avatar.png') }}" alt="user-avatar">
				{% else %}
					<img class="avatars" src="{{ asset('assets/avatar/' ~ review.image) }}" alt="user-avatar">
				{% endif %}
				<p class="username">{{review.username}}</p>

				<p class ="rating">Note :</p>

                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>

				<p class ="date"><span class="rating">Posté le : </span>
					{{review.createdAt|date('d-m-Y')}}
					à
					{{review.createdAt|date('H:i')}}
                </p>

                {% if review.comment|length > 100 %}
                    <p class="commentary">{{ review.comment|slice(1,50) }} <span id="dots">...</span><span id="more">{{ review.comment|slice(51, 1000) }}</span>&nbsp;<a class="text-info" onclick="readMoreOrLess()" id="myBtn">Voir plus</a></p>
                {% else %}
                    <p class="commentary">{{ review.comment }}</p>
                {% endif %}
			</div>
		{% endfor %}

	</div>
{% endblock %}