{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Vélo d'appartement BODY B8896{% endblock %}

{% block body %}
    <h1>Vélo d'appartement BODY B8896</h1>
    <a href="{{ asset('assets/image/velo01.jpg') }}"><img src="{{ asset('assets/image/velo01.jpg') }}" alt="vélo-appartement-profil"></a>
    <a href="{{ asset('assets/image/velo02.jpg') }}"><img src="{{ asset('assets/image/velo02.jpg') }}" alt="vélo-appartement-réglage"></a>
    <a href="{{ asset('assets/image/velo03.jpg') }}"><img src="{{ asset('assets/image/velo03.jpg') }}" alt="vélo-appartement-guidon"></a>
    <a href="{{ asset('assets/image/velo04.jpg') }}"><img src="{{ asset('assets/image/velo04.jpg') }}" alt="vélo-appartement-face"></a>
{% endblock %}
